body {
  background-color: #F5B0CB;
  
} 
h1,
{
  font-weight: bold; color: #39375B;
  font-family: cursive;
  font-size: 150%;
}

p {
  color: #9f50ba;
  font-family:sans-serif;
  font-size: 80%;
}

li{
  color: #7227c3;
  font-family: sans-serif; 
  font-size:78%;
